@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen;
  }
}

@layer components {
  .spinner {
    @apply inline-block w-5 h-5 border-2 border-gray-200 border-t-indigo-600 rounded-full animate-spin;
  }
}
